name: Boolean Test
on: 
  workflow_dispatch:
      inputs:
        lambda:
          required: false
          type: boolean
          description: environment
          default: false

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [name1, name2, name3]
    steps:
       - name: android print statement       
         run: | 
           if [ "${{matrix.test}}" == "name3" ] || [ "${{matrix.test}}" == "name2" ]; then
             echo "testname: ${{matrix.test}} + lambda : true"
           else
             echo "testname: ${{matrix.test}} + lambda : false"
           fi  
           echo "testname: ${{matrix.test}} +  after if else"


  
