name: Boolean Test
on: 
  workflow_dispatch:

env:
 lambda: false
 
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test: [name1, name2, name3]
    steps:
       - name: android print statement       
         run: | 
           if [ "${{matrix.test}}" == "name3" ]; then
             lambda = true
             echo "testname: ${{matrix.test}} + lambda : $lambda"
           fi  


  
