'on':
  workflow_call:
    inputs:
      env_value:
        required: true
        description: environment to run
        type: string
      application_name:
        required: true
        description: application to run
        type: string   
      suiteName:
        required: true
        description: suite to run
        type: string        
jobs:
  iOS-TEST:
    runs-on: ubuntu-latest
    strategy: 
      fail-fast: false
      matrix: 
        deviceName: [iPhone 14 Pro Max, iPhone 14 Pro,  iphone 13 Pro Max, iphone 13 Pro, iPhone 13, iPhone 12 Pro, iPhone 12, iPhone 11 ]
        osVersion: [15, 16]
        exclude:
          - deviceName: "iPhone 11"
            osVersion: 16
          - deviceName: "iphone 13 Pro Max"
            osVersion: 16            
          - deviceName: "iPhone 14 Pro Max"
            osVersion: 15
          - deviceName: "iPhone 14 Pro"
            osVersion: 15
          - deviceName: "iphone 13 Pro"
            osVersion: 15
          - deviceName: "iPhone 13"
            osVersion: 15
          - deviceName: "iPhone 12 Pro"
            osVersion: 15
          - deviceName: "iPhone 12"
            osVersion: 15
    if: ${{ inputs.application_name == 'ios' }}
        
    steps:
       - name: ios print statement       
         run: | 
           echo " ====== Running ${{ inputs.env_value }}  TESTS ====== "
           echo "Test name :  ${{ inputs.suiteName }}"
           echo "deviceName: ${{matrix.deviceName}}"
           echo "osVersion: ${{matrix.osVersion}}"
  android-TEST:
    runs-on: ubuntu-latest
    strategy: 
      fail-fast: false
      matrix: 
        deviceName: ["Galaxy S22 Ultra 5G", "Galaxy S22 5G", "Galaxy S21 Ultra 5G", "Galaxy S21 5G", "Pixel 6 Pro", "Pixel 7 Pro"]
        osVersion: [11, 12, 13]
        exclude:
          - deviceName: "Galaxy S22 Ultra 5G"
            osVersion: 11
          - deviceName: "Galaxy S22 Ultra 5G"
            osVersion: 13
          - deviceName: "Galaxy S22 5G"
            osVersion: 11            
          - deviceName: "Galaxy S22 5G"
            osVersion: 13
          - deviceName: "Galaxy S21 Ultra 5G"
            osVersion: 12
          - deviceName: "Galaxy S21 Ultra 5G"
            osVersion: 13
          - deviceName: "Galaxy S21 5G"
            osVersion: 11
          - deviceName: "Galaxy S21 5G"
            osVersion: 13
          - deviceName: "Pixel 6 Pro"
            osVersion: 11
          - deviceName: "Pixel 6 Pro"
            osVersion: 12
          - deviceName: "Pixel 7 Pro"
            osVersion: 11
          - deviceName: "Pixel 7 Pro"
            osVersion: 12            
    if: ${{ inputs.application_name == 'android' }}
        
    steps:
       - name: android print statement       
         run: | 
           echo " ====== Running ${{ inputs.env_value }}  TESTS ====== "
           echo "Test name :  ${{ inputs.suiteName }}"
           echo "deviceName: ${{matrix.deviceName}}"
           echo "osVersion: ${{matrix.osVersion}}"
  check-matrix-condition:
    runs-on: ubuntu-latest
    outputs:
      matrix-condition: ${{ steps.set-matrix-condition.outputs.matrix-condition }}
    steps:
      - name: Set matrix condition
        id: set-matrix-condition
        run: echo "matrix-condition=${{ inputs.application_name == 'android' }}" >> $GITHUB_ENV

  common-steps-and-after:
    needs: [iOS-TEST, android-TEST, check-matrix-condition]
    runs-on: ubuntu-latest   
    if: ${{ needs.check-matrix-condition.outputs.matrix-condition == 'true' || inputs.application_name == 'ios' }}
    
    steps:
       - name: common step to run     
         run: | 
           echo " ====== Running common step  TESTS ====== "
        
    
