name: Mail test

on: push
 # schedule:
 #- cron: '*/5 * * * *'  # Run every 5 minutes
jobs:
  send-email:
    runs-on: ubuntu-latest

    steps:
      - name: Send email
        run: |
          echo "Subject: Job Status - "
