name: MSP GraphQL BAT
on:
  workflow_dispatch:
      inputs:
        env:
          required: false
          description: environment
          default: qa
env:
 TEST_FILES: src/msp/env/Gql_QA_Bat_Environment.postman_environment.json
 TEST_ENV_FILES_LOCATION: src/msp/env
 MSP_QA_GQL_USERNAME: ${{ secrets.MSP_QA_GQL_USERNAME }}
 MSP_QA_GQL_PASSWORD: ${{ secrets.MSP_QA_GQL_PASSWORD }}
 EDP_QA_API_USERNAME: ${{ secrets.EDP_QA_API_USERNAME }}
 EDP_QA_API_PASSWORD: ${{ secrets.EDP_QA_API_PASSWORD }}
jobs:
  newman-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra


      - name: Run Newman
        run: |
          jq --arg variable "$MSP_QA_GQL_USERNAME" '.values[3].value = $variable' ${TEST_FILES} > $TEST_ENV_FILES_LOCATION/test_env_file.json
          jq --arg variable "$MSP_QA_GQL_PASSWORD" '.values[4].value = $variable' $TEST_ENV_FILES_LOCATION/test_env_file.json > $TEST_ENV_FILES_LOCATION/test_env_file1.json
          jq --arg variable "$EDP_QA_API_USERNAME" '.values[5].value = $variable' $TEST_ENV_FILES_LOCATION/test_env_file1.json > $TEST_ENV_FILES_LOCATION/test_env_file2.json
          jq --arg variable "$EDP_QA_API_PASSWORD" '.values[6].value = $variable' $TEST_ENV_FILES_LOCATION/test_env_file2.json > $TEST_ENV_FILES_LOCATION/test_env_file3.json

          bash 
          newman run src/msp/GQL_BAT_Test_Case.postman_collection.json -e $TEST_ENV_FILES_LOCATION/test_env_file3.json

