name: Send Email with HTML Body

on: workflow_dispatch

env:
 html_content: ""

jobs:
  sendemail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read HTML file content
        run: |
          html_content=$(cat test.html)
          echo "html_content = $html_content "
      
      - name: Send mail notification
        if: ${{ always() }}
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: "notificsunpower@gmail.com"
          password: "xhbexzslqdxniljz"
          subject: Monitoring Coverage Report
          body: ${{ env.html_content }}
          to: priyaveera96@gmail.com
          from: notificsunpower@gmail.com
